<div data-v-ee30b9f6="">
    <div data-v-ee30b9f6="" class="footer-main">
        <div data-v-ee30b9f6="" class="container">
            <div data-v-ee30b9f6="" class="row">
                <div data-v-ee30b9f6="" class="col-md-4">
                    <img data-v-ee30b9f6="" id="footer-logo" src="{{asset "images/zendrop-white.svg"}}">
                </div>
                <div data-v-ee30b9f6="" class="col-md-3 text-right">
                    <a data-v-ee30b9f6="" id="become-an-affiliate-btn" href="https://partners.zendrop.com/affiliate/signup" target="_blank" class="btn btn-primary">
                    <img data-v-ee30b9f6="" src="{{asset "images/affiliate-square.svg"}}" style="margin-right: 10px; width: 30px;">
                    Become an affiliate
                    </a>
                </div>
                <div data-v-ee30b9f6="" class="col-md-5">
                    <ul data-v-ee30b9f6="">
                        <li data-v-ee30b9f6="" class="fadein-effect"><a data-v-ee30b9f6="" href="https://www.zendrop.com/register" class="">Sign Up</a></li>
                        <li data-v-ee30b9f6="" class="fadein-effect"><a data-v-ee30b9f6="" href="https://www.zendrop.com/login" class="">Login</a></li>
                        <li data-v-ee30b9f6="" class="fadein-effect"><a data-v-ee30b9f6="" href="https://support.zendrop.com" target="_blank">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div data-v-ee30b9f6="" class="footer-dark">
        <div data-v-ee30b9f6="" class="container">
            <div data-v-ee30b9f6="" class="row">
                <div data-v-ee30b9f6="" class="col-md-6 footercopyright">
                    <p data-v-ee30b9f6="">© 2019-2020, www.zendrop.com</p>
                </div>
                <div data-v-ee30b9f6="" class="footer-dark-links-container col-md-6 text-right">
                    <ul data-v-ee30b9f6="">
                        <li data-v-ee30b9f6="" class="fadein-effect"><a data-v-ee30b9f6="" href="https://www.zendrop.com/terms-conditions" class="">
                                    Terms &amp; Conditions
                                </a></li>
                        <li data-v-ee30b9f6="" class="fadein-effect"><a data-v-ee30b9f6="" href="https://www.zendrop.com/privacy-policy" class="">
                                    Privacy Policy
                                </a></li>
                        <li data-v-ee30b9f6="" class="fadein-effect"><a data-v-ee30b9f6="" href="mailto:buyer@zendrop.com">Become a supplier</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
/*! CSS Used from: https://www.zendrop.com/css/app.css */
*,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-top:0;margin-bottom:1rem;}
a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0056b3;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-md-4,.col-md-6,.col-md-8,.col-md-12,.col-lg-4{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.33333333%;flex:0 0 33.33333333%;max-width:33.33333333%;}
.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
.col-md-8{-webkit-box-flex:0;-ms-flex:0 0 66.66666667%;flex:0 0 66.66666667%;max-width:66.66666667%;}
.col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
}
@media (min-width:992px){
.col-lg-4{-webkit-box-flex:0;-ms-flex:0 0 33.33333333%;flex:0 0 33.33333333%;max-width:33.33333333%;}
}
.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.125rem;-webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;}
@media screen and (prefers-reduced-motion:reduce){
.btn{-webkit-transition:none;transition:none;}
}
.btn:hover,.btn:focus{text-decoration:none;}
.btn:focus{outline:0;-webkit-box-shadow:0 0 0 .2rem rgba(0,123,255,.25);box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}
.btn:disabled{opacity:.65;}
.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff;}
.btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc;}
.btn-primary:focus{-webkit-box-shadow:0 0 0 .2rem rgba(0,123,255,.5);box-shadow:0 0 0 .2rem rgba(0,123,255,.5);}
.btn-primary:disabled{color:#fff;background-color:#007bff;border-color:#007bff;}
.text-right{text-align:right!important;}
@media print{
*,*::before,*::after{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
p{orphans:3;widows:3;}
.container{min-width:992px!important;}
}
/*! CSS Used from: https://www.zendrop.com/css/all.css */
*{margin:0;padding:0;box-sizing:border-box;}
/*! CSS Used from: https://www.zendrop.com/css/style.css */
*,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-top:0;margin-bottom:1rem;}
a{color:#188ae2;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{text-decoration:none;}
img{vertical-align:middle;border-style:none;margin-right:5px;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-md-4,.col-md-6,.col-md-8,.col-md-12,.col-lg-4{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;max-width:33.33333%;}
.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
.col-md-8{-webkit-box-flex:0;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;max-width:66.66667%;}
.col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
}
@media (min-width:992px){
.col-lg-4{-webkit-box-flex:0;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;max-width:33.33333%;}
}
.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;text-transform:uppercase;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:.875rem;line-height:1.5;border-radius:0;-webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;}
@media screen and (prefers-reduced-motion:reduce){
.btn{-webkit-transition:none;transition:none;}
}
.btn:hover,.btn:focus{text-decoration:none;}
.btn:focus{outline:0;}
.btn:disabled{opacity:.65;}
.btn-primary{color:#fff;border:0!important;background-color:#63d295;}
.btn-primary:hover{color:#fff;background-color:#63d295;border-color:transparent!important;}
.btn-primary:disabled{color:#fff;background-color:#63d295;}
.text-right{text-align:right!important;}
@media print{
*,*::before,*::after{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
p{orphans:3;widows:3;}
.container{min-width:992px!important;}
}
@media (max-width:991px){
.container{width:auto!important;}
}
p{line-height:1.8;}
::-ms-clear{display:none;}
.fadein-effect{transition:all .3s ease;}
.fadein-effect:hover{cursor:pointer;opacity:.7;}
.fadein-effect:active{opacity:.5;}
.footer-main{background-color:#333647;padding:80px 0;}
.footer-main .btn-primary{background-color:#fff;color:#333647;text-transform:uppercase!important;font-weight:600;padding:17px;padding-right:24px;transition-duration:.3s;transition-property:transform;}
.footer-main .btn-primary:hover{transform:scale(1.05);}
.footer-main .btn-primary:active{background-color:#63d295!important;color:#63d295!important;}
.footer-main ul{margin-top:15px;text-align:right;}
@media (max-width:991px){
.footer-main ul{text-align:left;}
}
.footer-main li{display:inline-block;list-style:none;margin-left:50px;}
@media (max-width:1199px){
.footer-main li{margin-left:30px;}
}
@media (max-width:991px){
.footer-main li{margin-left:0;margin-right:30px;}
}
.footer-main li a{color:#fff;font-weight:400;letter-spacing:.5px;font-family:Proxima Nova Lt;}
.footer-dark{background-color:#292d3a;padding:18px;line-height:35px;}
.footer-dark li{float:right;list-style:none;margin-left:30px;}
.footer-dark li a{font-family:Proxima Nova Lt;font-weight:400;letter-spacing:.5px;color:#fff;}
.footercopyright{font-weight:400;letter-spacing:.5px;color:#fff;opacity:1;padding-top:10px;}
.btn-primary:focus,.btn:focus{box-shadow:none!important;}
@media (max-width:767px){
.footer-main{padding:70px 0 30px;}
.footer-main .container .row div{display:flex;justify-content:center;margin-bottom:30px;}
.footer-main li{margin:0 15px;}
.footer-dark li{margin:0 15px;}
.footercopyright{display:flex;justify-content:center;}
}
.footer-main #become-an-affiliate-btn.btn-primary:active{background-color:#fff!important;color:#000!important;}
@media (min-width:768px){
#become-an-affiliate-btn{margin-bottom:30px;}
}
#footer-logo{width:200px;}
.footer-dark-links-container{display:flex;align-items:center;}
.footer-dark-links-container ul{margin-bottom:0;}
@media (max-width:767px){
.footer-dark-links-container ul{display:flex;flex-direction:column;justify-content:center;width:100%;}
.footer-dark-links-container ul li{display:flex;justify-content:center;}
}


</style>

